.App {
  color: #333;
  max-width: 100vw;
  overflow-x: hidden;
  text-align: center;
  width: 100vw;
}

header {
  align-items: center;
  background: #f6f8fa;
  color: purple;
  display: flex;
  font-weight: 600;
  height: 50px;
  justify-content: center;
  text-align: center;
  width: 100vw;
}

header img {
  margin-left: 5px;
}

.header-logo {
  text-decoration: none;
}

main {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1100px;
  padding: 0;
  width: 100vw;
}

.main-form {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-basis: 100%;
  justify-content: center;
}

form {
  box-sizing: border-box;
  height: 50px;
  margin-top: 16px;
  max-width: 100%;
  position: relative;
  width: 100%;
}

.main-form,
form,
form input {
  box-sizing: border-box;
  max-width: 100%;
}

form input {
  background-color: #EBE8F2;
  border: none;
  border-radius: 16px;
  color: purple;
  height: 50px;
  min-width: 0;
  min-width: 230px;
  padding-left: 20px;
  width: 100%;
}

.search-btn {
  background: none;
  border: none;
  height: 50px;
  position: absolute;
  right: 16px;
  top: 0;
}

.form-btn {
  background: #f6f8fa;
  border: none;
  border-radius: 5%;
  color: #0366d6;
  height: 28px;
  margin-left: 10px;
  margin-top: 10px;
  padding: 0;
  width: 125px;
}

.warning {
  color: red;
  flex-basis: 100%;
  font-size: 12px;
  margin-top: 5px;
}

.section-left,
.section-right {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-basis: 49%;
  flex-direction: column;
  flex-grow: 1;
  gap: 16px;
  max-width: 100%;
  text-align: center;
}

.favorite-header {
  align-items: center;
  display: flex;
}

.hide-btn {
  background: none;
  border: none;
  display: none;
  font-size: 250%;
  height: 25px;
  margin-left: 5px;
  padding: 0;
  width: 25px;
}

article {
  align-items: center;
  border-radius: 12px;
  box-shadow: 0 0 5px #00000010;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: 8px;
  max-width: 100%;
  min-height: 200px;
  padding: 16px;
  width: 100%;
}

.repo-avatar {
  border-radius: 12px;
  box-sizing: border-box;
  height: 180px;
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  width: 180px;
}

.repo-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 100%;
  width: 100%;
}

.repo-details {
  box-sizing: border-box;
  color: #664F94;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  max-width: 100%;
  width: 100%;
}

.repo-name {
  box-sizing: border-box;
  font-weight: bold;
  height: max-content;
  justify-content: center;
  max-width: 100%;
  overflow-wrap: break-word;
  white-space: normal;
  word-break: break-word;
}

.repo-description {
  box-sizing: border-box;
  display: block;
  max-width: 100%;
  overflow-wrap: break-word;
  white-space: normal;
  word-break: break-word;
}

.repo-forks,
.repo-stars {
  box-sizing: border-box;
  flex-basis: 45%;
  max-width: 100%;
}

.btns-group {
  box-sizing: border-box;
  display: flex;
  flex-basis: 100%;
  gap: 12px;
  justify-content: center;
  max-width: 100%;
}

.repo-btn {
  background: #EBE8F2;
  border: none;
  border-radius: 12px;
  box-sizing: border-box;
  color: #0366d6;
  max-height: 41px;
  padding: 5px 16px;
  width: 125px;
}

.addfavourite-btn {
  background-color: #6B36E3;
  color: #FAF7FA;
}

button:hover {
  cursor: pointer;
  filter: brightness(0.9);
}

button:active {
  transform: scale(0.9);
}

.repo-btn a {
  align-items: center;
  color: #333;
  display: flex;
  height: 100%;
  justify-content: center;
  text-decoration: none;
  width: 100%;
}

.error-page {
  align-items: center;
}

.repo-page {
  align-items: start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: start;
  max-width: 100vw;
  padding: 20px;
  width: 80vw;
}

.repo-page-wrapper {
  box-sizing: border-box;
  flex-grow: 1;
  max-width: 100vw;
  width: 100%;
}

.repo-page-wrapper > p {
  text-align: start;
}

.repo-page-name {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  gap: 8px;
}

.breadcrumbs {
  color: #664F94;
}

.github-icon {
  height: 16px;
}

.repo-page-name h1 {
  box-sizing: border-box;
  color: #120D1C;
  font-size: 16px;
  margin: 10px 0;
  max-width: 100%;
  overflow-wrap: break-word;
  white-space: normal;
  word-break: break-word;
}

.repo-page-header {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
  padding-bottom: 32px;
  width: 100%;
}

.repo-page-avatar {
  border-radius: 50%;
  box-sizing: border-box;
  margin: 0 15px;
  max-height: 128px;
  max-width: 128px;
}

.repo-page-author {
  font-size: 22px;
}

.repo-page-name {
  box-sizing: border-box;
  max-width: 100%;
  overflow-wrap: break-word;
  text-decoration: none;
  white-space: normal;
  word-break: break-word;
}

.repo-page-name:hover {
  text-decoration: underline;
}

.repo-page-info {
  display: flex;
  gap: 16px;
}

.repo-page-info div,
.repo-page-codingLang {
  border-top: 1px solid #E5E8EB;
  display: flex;
  flex-direction: column;
  gap: 0;
  padding: 32px 0;
  text-align: start;
  width: 200px;
}

.repo-page-info div p,
.repo-page-codingLang p {
  margin: 0;
}

.repo-page-info div p:first-child,
.repo-page-codingLang p:first-child {
  color: #664F94;
}

.repo-pages-badges {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.badge {
  background-color: #EBE8F2;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  font-size: 24px;
  font-weight: bold;
  gap: 8px;
  justify-content: start;
  padding: 24px;
  width: 200px;
  word-wrap: break-word;
}

.badge p {
  margin: 0;
}

.badge p:first-child {
  font-size: 16px;
  font-weight: normal;
}

.back-btn {
  font-weight: bold;
  margin: 32px 0;
  padding: 10px 16px;
}

.not-found {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: center;
  max-width: 100vw;
  padding: 20px;
  width: 90vw;
}

@media (max-width: 800px) {
  article {
    max-height: 500px;
  }

  .repo-description {
    max-height: 200px;
  }
}

@media (max-width: 625px) {
  .repo-avatar {
    width: 100px;
  }

  .repo-btn {
    padding: 0;
    width: 100px;
  }

  .back-btn {
    padding: 10px 16px;
  }

  .repo-description {
    font-size: 12px;
  }

  .hide-btn {
    display: block;
  }

  .section-left {
    order: 2;
  }

  .section-right {
    order: 1;
  }
}